body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#87b0f2, #003ea3);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 22vh;
}
.temp{
    position: absolute;
    top: 37vh;
    right: 0;
    width: 100vw;
    height: 50vh;
    text-align: left;
    z-index: 3;
    color: black;
    letter-spacing: -1px;
}
.headerH{
    width: 100vw;
    position: absolute;
    top:0;
    left:0;  
    z-index: 1;
    color: white;
}
.headerT{
    width: 100vw;
    position: absolute;
    text-align: right;
    top:0;
    left:0;  
    z-index: 1;
    color: black;
}
.hum{
    position: absolute;
    top: 37vh;
    right: 0;
    width: 100vw;
    height: 50vh;
    text-align: right;
    z-index: 3;
    color: white;
}
.comment {
    color: red;
    width: 100vw;
    height: 10vh;
    font-size: 4vh;
    position: absolute;
    top: 40vh;
    text-align: center;
}